@model IEnumerable<RPBDIS_5.Models.MaintenanceType>

@{
    ViewData["Title"] = "MaintenanceTypes";
    Layout = "_Layout"; // Указываем мастер-страницу
}

<h2>Maintenance Types</h2>

<p>
   @if (User.IsInRole("admin")) // Проверка на роль admin для отображения действий
   {
        <a class="btn btn-primary" href="@Url.Action("Create", "MaintenanceTypes")">Create New Maintenance Types</a>
   }
</p>

<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var maintenanceType in Model)
        {
            <tr>
                <td>@maintenanceType.Description</td>
                <td>
                    @if (User.IsInRole("admin")) // Проверка на роль admin для отображения действий
                    {
                        <a class="btn btn-info btn-sm" href="@Url.Action("Edit", "MaintenanceTypes", new { id = maintenanceType.MaintenanceTypeId })">Edit</a>
                        <a class="btn btn-info btn-sm" href="@Url.Action("Details", "MaintenanceTypes", new { id = maintenanceType.MaintenanceTypeId })">Details</a>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "MaintenanceTypes", new { id = maintenanceType.MaintenanceTypeId })">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
