@model RPBDIS_5.Models.Equipment

<h2>Оборудование</h2>

<table class="table">
    <tr>
        <th>Инвентарный номер</th>
        <td>@Model.InventoryNumber</td>
    </tr>
    <tr>
        <th>Название</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Дата приобретения</th>
        <td>@Model.StartDate?.ToString("d")</td>
    </tr>
    <tr>
        <th>Место нахождения</th>
        <td>@Model.Location</td>
    </tr>
</table>

<p>
    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.EquipmentId })">Изменить</a> |
    <a class="btn btn-secondary" href="@Url.Action("Index")">Вернуться к списку</a>
</p>
